.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    .cell-icon {
        position: relative;
        width: 25%;
        height: 25%;    
        background-color: black;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}