.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    
    background: none;
    border-color: transparent;
    padding: 0;
    
    .cell-icon {
        width: 25%;
        height: 25%;    
        background-color: black;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
    }
}

/*currently need to add back 1 to size since removing it for visual grid, might be better to have 2 numbers*/
.cellgrid {
    width: calc(var(--cell-size) * var(--board-size-dots));
    display: grid;
    grid-template-columns: repeat(var(--board-size-dots), var(--cell-size));
    grid-template-rows: repeat(var(--board-size-dots), var(--cell-size));
}
