.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    
    background: none;
    border-color: transparent;
    padding: 0;
    
    .stone {
        border-radius: 100%;
        display: block;
        margin: 0 auto;
    }

    .empty-stone {
        width: 25%;
        height: 25%;    
        background-color: black; 
    }

    .black-stone {
        position: relative;
        width: 80%;
        height: 80%;
        background-color: black;
    }
    .black-stone::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 10px rgba(255,255,255,0.7);
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .white-stone {
        position: relative;
        width: 80%;
        height: 80%;
        background-color: white;
        z-index: 1;
    }
}


